$primary-color: #ef5350;
$secondary-color: #ddd;
$success-color: #4BB543;
$danger-color: #bd3736;

// Font Weights
$light: 400;
$regular: 600;
$bold: 600;

// Base Font
$base-font-family: 'Montserrat';
$base-font-weight: $regular;
$base-font-size: 1em;
$base-line-height: 1.4;

$pagination-font-size: 2em;

* {
    font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 0;
}

ul {
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}