.card {
  border-radius: 5px;
  padding: 0 1em;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
  min-height: 6em;
}

.input {
  border-radius: 5px;
  border: 1px solid $border-color;
  padding: 0.3em 0.3em;
  margin: 10px;

  &:focus {
    border: 1px solid $success-color;
    outline: none;
  }
}

.button {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5em 1.2em;
  line-height: 1.75;
  border: 1px solid #ffa500;
  cursor: pointer;
  text-decoration: none;
  color: black;

  &:hover {
    background: #ffa500;
    color: white;
  }

  @media (min-width: 480px) {
    padding: 0.8em 2em;
  }
}

.button--success {
  border: 0;
  background-color: $success-color;
  color: white;

  &:hover {
    background-color: rgba($success-color, 0.8);
    transform: translateY(-1px);
    transition: 0.1s;
  }
}

.button--danger {
  border: 0;
  background-color: $danger-color;
  color: white;

  &:hover {
    background-color: rgba($danger-color, 0.8);
    transform: translateY(-1px);
    transition: 0.1s;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  font-size: $large-font-size;
  margin: 0.5em;

  @media (min-width: 480px) {
    margin: 1em 0;
    font-size: $base-font-size;
    justify-content: center;
  }
}

.pagination__item {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  flex-basis: 5em;

  a {
    color: $primary-color;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  @media (min-width: 480px) {
    flex: 0 1 5%;

    a {
      padding: 0.5em 0;
    }
  }
}

.pagination__page {
  margin: 0 0.2em;

  @media (min-width: 480px) {
    margin: 0rem 1.5rem;
  }

  &:hover {
    background-color: $primary-color;

    a {
      color: white;
    }
  }
}
.pagination__arrow {
  background-color: $primary-color;
  border-radius: 5px;

  a {
    color: white;
  }

  &:hover {
    background-color: #fff;

    a {
      color: $primary-color;
    }
  }
}

.pagination__arrow--disabled {
  background-color: #ccc;

  &:hover {
    background-color: #ccc;

    a {
      color: #fff;
    }
  }
}

.pagination__page--active {
  font-weight: $bold;
  border: 1px solid $primary-color;
}

.text__success {
  color: $success-color;
}

.text__danger {
  color: $danger-color;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12em 0;
}
