.container {
  margin: 1em;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  background-color: $primary-color;
}

.header__logo {
  display: flex;
  align-items: center;
  flex: 3;

  @media (min-width: 480px) {
    flex: 4;
    flex-basis: 50%;
  }
}

.header__image {
  width: 4.5em;
  height: 4.5em;
}

.navigation__icon {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  @media (min-width: 480px) {
    display: none;
  }
}

.navigation {
  display: none;
  text-align: center;
  width: 100%;
  background-color: $primary-color;
  opacity: 0;

  @media (min-width: 480px) {
    display: flex;
    justify-content: flex-end;
    position: static;
    opacity: 1;
    flex: 3;
    flex-basis: 25%;
  }
}

.navigation--show {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.navigation__list {
  @media (min-width: 480px) {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.navigation__item {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  white-space: nowrap;

  &:hover {
    background-color: white;

    a {
      color: $primary-color;
    }
  }

  @media (min-width: 480px) {
    border-top: 0;
    flex-basis: 50%;
    align-items: stretch;
  }
}

.navigation__link {
  text-decoration: none;
  color: white;
  font-weight: $bold;
  font-size: $base-font-size;
  padding: 1em;
  flex: 1;

  @media (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.navigation-toggle-enter-active,
.navigation-toggle-leave-active {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navigation-toggle-enter,
.navigation-toggle-leave-to {
  opacity: 0.2;
  transform: translateX(10px) rotate(90deg);
}

//Pokemon List Page

.page-info {
  margin: 1rem 0;

  > * {
    margin: 0.3em 0;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list__item {
  flex: 1 1 100%;
  margin: 1em 0;

  @media (min-width: 480px) {
    max-width: 20em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

//Pokemon Detail Page
.card--pokemon-detail {
  max-width: 48rem;
  margin: auto;
}

.card__pokemon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.card__owned-pokemon {
  display: flex;
  padding: 0;
  text-transform: capitalize;
}

.card__owned-pokemon-button {
  display: flex;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  align-items: center;
  flex-basis: 3.8em;
  color: white;
  background-color: $danger-color;
  cursor: pointer;
}

.card__owned-pokemon-button:hover {
  background-color: rgba($danger-color, 0.8);
}

.card__owned-pokemon-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;

  :first-child {
    font-size: 0.8em;
  }
}

.card__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;

  > * {
    flex: 1 1 100%;
  }

  > img {
    flex: 0;
  }
}

.card__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  margin: 1em 0;

  > * {
    text-align: center;
    flex: 0 1 20%;
  }
}

.card--small {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3em;
  margin: 0.5em 0.5em;
  white-space: nowrap;
}

.card__header {
  text-align: center;
  margin: 1em 0;
  flex: 1 1 100%;
}

.card__stat {
  display: flex;
  justify-content: space-between;
  margin: 1em 2em;
  text-transform: capitalize;
}

.catch-pokemon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.catch-pokemon__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    margin: 0.4rem 0.5rem;
  }
}

.catch-pokemon__text {
  margin: 0.8rem 0;
  flex-basis: 100%;
  text-align: center;
}

.catch-pokemon__text--success {
  color: $success-color;
}

.catch-pokemon__text--danger {
  color: $danger-color;
}
